@model SeguroModelo
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar un Seguro
    </div>
    <div class="card-body">


        <form asp-action="Eliminar" asp-controller="Seguro" method="post">

            <input asp-for="IdSeguro" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el Seguro: @Html.DisplayTextFor(m => m.PolizaNumero) ?
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Seguro" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>
