@model EmpleadoAdminModelo
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar un Empleado Administrativo
    </div>
    <div class="card-body">


        <form asp-action="Eliminar" asp-controller="EmpleadoAdmin" method="post">

            <input asp-for="IdAdministrativo" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el Empleado: @Html.DisplayTextFor(m => m.Nombres) ?
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="EmpleadoAdmin" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>


